* {
    margin: 0;
    border: 0;
    padding: 0;
}

@font-face {
    font-family: "mont";
    src: url(./font/SwilyBright-Italic.otf);
}

@font-face {
    font-family: "mont2";
    src: url(./font/CreatoDisplay-Light.otf);
}

@font-face {
    font-family: "mont3";
    src: url(./font/CreatoDisplay-Regular.otf);
}

@font-face {
    font-family: "mont4";
    src: url(./font/CreatoDisplay-Bold.otf);
}

@font-face {
    font-family: "mont5";
    src: url(./font/CreatoDisplay-Medium.otf);
}

header {
background-color: #1A0436;
height: 200px;
display: flex;
flex-direction: column;
}

body {
overflow: scroll;
overflow-x: hidden;
}

body {
    background-image: url(./img/fundo1.png);
    background-size: cover;
}

.cima {
background-color: #1A0436;
height: 90px;
padding-top:  20px;
display: flex;
align-items: center;
justify-content:space-evenly;
padding-right: 20px;
}

.bolha {
width: 90px;
height: 75px;
}

.conjuto {
display: flex;
flex-direction: row;
}

.logo {
font-family: "mont";
color: white;
width: 190px;
height: 45px;
text-align: center;
display: flex ;
font-size: 35px;
font-weight: 400;
align-items: center;
justify-content: center;
padding-top: 10px;

}

.barraPesquisa {
width: 700px;
height: 53.79px;
background-image: url(./img/barradepesquisa.png);
margin:90px;
border-radius: 18px;
display: flex;
justify-content: right;
padding-right: 20px;
align-items: center;  
margin-left: 150px;
background-size: cover;
}

input {
color: white;
font-family: "mont2";
font-size: 15px;
padding-left: 20px;
}

.barra {
display: flex;
flex-direction: row;
justify-content: center;
}

.perfil a {
width: 51px;
height: 52px;
border-radius: 18px;
background-image: url(./img/Perfill.png);
display: flex;
align-items: center;
justify-items: center;
justify-content: center;
margin-left: 70px;
background-size: cover;
color: rgba(255, 255, 255, 0);
}

.notificacao {
width: 51px;
height: 52px;
border-radius: 18px;
background: linear-gradient(90deg, #B41D6C, #2A114B);
display: flex;
align-items: center;
justify-items: center;
justify-content: center;
margin-left: -10px;
}

header .baixo {
font-family: "mont2";
display: flex;
flex-direction: row;
display: flex;
justify-content: center;
}

.baixo a{
color: white;
margin: 55px;
font-size: 20px;
margin-top: 25px;
text-decoration: none;
font-weight: 605;
font-family: "mont2";
letter-spacing: 2px;
transition: ease-in-out 0.3s;
}

a:hover {
font-size: 25px;
}

body{
    background-color: #1A0436;
}
.bola{
    position: absolute;
    background: linear-gradient(#B41D6C, #6A3279);
    height: 100px;
    width: 100px;
    border-radius: 360px;
    filter: blur(40px);
    left: -50px;
    top: 150px;
    opacity: 0.9;
    z-index: 1;
}
.bola2{
        position: absolute;
        background: linear-gradient(#B41D6C, #6A3279);
        height: 100px;
        width: 100px;
        border-radius: 360px;
        filter: blur(40px);
        right: 50px;
        bottom: 150px;
        opacity: 0.9;
        z-index: 1;
}
.blurred-shape {
    width: 300px;
    height: 400px;
    background: radial-gradient(circle, #ff0066 30%, #800080 70%);
    filter: blur(40px);
    border-radius: 50%;
    left: -60px;
    bottom:550px ;
    opacity: 0.9;
    z-index: 1;
}