* {
    margin: 0;
    border: 0;
    padding: 0;
}

@font-face {
    font-family: "mont";
    src: url(./font/SwilyBright-Italic.otf);
}

@font-face {
    font-family: "mont2";
    src: url(./font/CreatoDisplay-Light.otf);
}

@font-face {
    font-family: "mont3";
    src: url(./font/CreatoDisplay-Regular.otf);
}

@font-face {
    font-family: "mont4";
    src: url(./font/CreatoDisplay-Bold.otf);
}

@font-face {
    font-family: "mont5";
    src: url(./font/CreatoDisplay-Medium.otf);
}

header {
background-color: #1A0436;
height: 200px;
display: flex;
flex-direction: column;
}

body {
overflow: scroll;
overflow-x: hidden;
}

body {
    background-image: url(./img/fundoLiteratura.png);
    background-size: cover;
}

.cima {
background-color: #1A0436;
height: 90px;
padding-top:  20px;
display: flex;
align-items: center;
justify-content:space-evenly;
padding-right: 20px;
}

.bolha {
width: 90px;
height: 75px;
}

.conjuto {
display: flex;
flex-direction: row;
}

.logo {
font-family: "mont";
color: white;
width: 190px;
height: 45px;
text-align: center;
display: flex ;
font-size: 35px;
font-weight: 400;
align-items: center;
justify-content: center;
padding-top: 10px;

}

.barraPesquisa {
width: 700px;
height: 53.79px;
background-image: url(./img/barradepesquisa.png);
margin:90px;
border-radius: 18px;
display: flex;
justify-content: right;
padding-right: 20px;
align-items: center;  
margin-left: 150px;
background-size: cover;
}

input {
color: white;
font-family: "mont2";
font-size: 15px;
padding-left: 20px;
}

.barra {
display: flex;
flex-direction: row;
justify-content: center;
}

.perfil a {
width: 51px;
height: 52px;
border-radius: 18px;
background-image: url(./img/Perfill.png);
display: flex;
align-items: center;
justify-items: center;
justify-content: center;
margin-left: 70px;
background-size: cover;
color: rgba(255, 255, 255, 0);
}

.notificacao {
width: 51px;
height: 52px;
border-radius: 18px;
background: linear-gradient(90deg, #B41D6C, #2A114B);
display: flex;
align-items: center;
justify-items: center;
justify-content: center;
margin-left: -10px;
}

header .baixo {
font-family: "mont2";
display: flex;
flex-direction: row;
display: flex;
justify-content: center;
}

.baixo a{
color: white;
margin: 55px;
font-size: 20px;
margin-top: 25px;
text-decoration: none;
font-weight: 605;
font-family: "mont2";
letter-spacing: 2px;
transition: ease-in-out 0.3s;
}

a:hover {
font-size: 25px;
}

body{
    background-color: #1A0436;
}
.banner{
    margin: 50px;
    background: linear-gradient(#FEB500, #B41D6C, #541654, #1A0436);
    width: 1300px;
    height: 600px;
    border-radius: 50px;
    color: #1A0436;
    padding: 50px;
    display: flex;
    flex-direction: row;
}
.textos{
    display: flex;
    flex-direction: column;
}
.banner span{
    font-family:"mont";
    color: white;
    font-weight: 400;
}
.text{
    font-family: "mont3" ;
    font-weight: 500;
    font-size: 70px;
    width: 800px;
}
.subText{
    font-family: "mont2";
    color: white;
    font-weight: 200;
    font-size: 45px;
    margin-top: 65px;
}
.container{
    position: relative;
    display: inline-block;
   margin-left: 50px;
    margin-top: 80px;
}
.img{
    width: 530px;
    right: 15px;
    height: 550px;
    margin-left: 15px; 
    display: block; 
}
.gradiente {
    position: absolute;
    bottom: -45px;
    left: 18px;
    right: -40px;
    width: 100%;
    height: 20%; 
    background: linear-gradient(to top,#1A0436, #29083d,  transparent);
    pointer-events: none; 
    backdrop-filter: blur(1px); /* Efeito de desfoque leve */
    -webkit-backdrop-filter: blur(1px);
    border-style: none;
    }
    .carrosel-container{
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-top: 100px;
    }
    .carrosel {
        display: flex;
        transition: transform 0.3s ease;
    }
    .item1{
        min-width: 30%;
        padding: 35px 30px;
        box-sizing: border-box;
        background: linear-gradient(90deg,#B41D6C, #2A114B) ;
        border: none;
        color: white;
        font-size: 25px;
        font-weight: bold;
        text-align: center;
        cursor: pointer;
        border-radius: 10px;
        margin: 0 10px;
        outline: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .item2{
        min-width: 30%;
        padding: 30px 30px;
        box-sizing: border-box;
        background: linear-gradient(90deg,#844D93, #2A114B) ;
        border: none;
        color: white;
        font-size: 25px;
        font-weight: bold;
        text-align: center;
        cursor: pointer;
        border-radius: 10px;
        margin: 0 10px;
        outline: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .item3{
        min-width: 30%;
        padding: 30px 30px;
        box-sizing: border-box;
        background: linear-gradient(90deg,#4848D8, #2A114B) ;
        border: none;
        color: white;
        font-size: 25px;
        font-weight: bold;
        text-align: center;
        cursor: pointer;
        border-radius: 10px;
        margin: 0 10px;
        outline: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .item4{
        min-width: 30%;
        padding: 30px 30px;
        box-sizing: border-box;
        background: linear-gradient(90deg,#FEB500, #2A114B) ;
        border: none;
        color: white;
        font-size: 25px;
        font-weight: bold;
        text-align: center;
        cursor: pointer;
        border-radius: 10px;
        margin: 0 10px;
        outline: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .item5{
        min-width: 30%;
        padding: 30px 30px;
        box-sizing: border-box;
        background: linear-gradient(90deg,#FCE6D9, #2A114B) ;
        border: none;
        color: white;
        font-size: 25px;
        font-weight: bold;
        text-align: center;
        cursor: pointer;
        border-radius: 10px;
        margin: 0 10px;
        outline: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }