* {
    margin: 0;
    border: 0;
    padding: 0;
}

@font-face {
    font-family: "bold";
    src: url(font/CreatoDisplay-Bold.otf);
}

@font-face {
    font-family: "light";
    src: url(font/CreatoDisplay-Light.otf);
}

@font-face {
    font-family: "mendium";
    src: url(font/CreatoDisplay-Medium.otf);
}

@font-face {
    font-family: "regular";
    src: url(font/CreatoDisplay-Regular.otf);
}

@font-face {
    font-family: "swily";
    src: url(font/SwilyBright-Italic.otf);
}

.header {
background-image: url(img/Desfocado1.png);
display: flex;
flex-direction: column;
width: cover;
height: 1000px;
}


body {
overflow: scroll;
overflow-x: hidden;
}

body {
    background-image: url(img/fundo.png);
    background-size: cover;
}

.cima {
height: 90px;
padding-top:  20px;
display: flex;
align-items: center;
justify-content:space-evenly;
padding-right: 20px;
margin-bottom: 20px;
}

.bolha {
width: 90px;
height: 75px;
margin-left: 50px;
}

.conjuto {
display: flex;
flex-direction: row;
}

.logo {
font-family: "mont";
color: white;
width: 190px;
height: 45px;
text-align: center;
display: flex ;
font-size: 35px;
font-weight: 400;
align-items: center;
justify-content: center;
padding-top: 10px;

}

#barraPesquisa {
width: 700px;
height: 53.79px;
opacity: 0.5;
background-color: rgba(0, 0, 0, 0.25);
color:rgba(255, 255, 255, 0.5);
margin: 90px;
border-radius: 18px;
padding-right: 20px;
margin-left: 150px;
background-size: cover;
}

#barraPesquisa::-webkit-input-placeholder{
    color:rgb(255, 255, 255);
    font-size:15px;
}
input {
color: rgb(255, 255, 255);
font-family: "light";
font-size: 15px;
padding-left: 20px;
}

.barra {
display: flex;
flex-direction: row;
justify-content: center;
border: none;
}

.perfil a {
width: 51px;
height: 52px;
border-radius: 18px;
background-image: url(img/IconPerfil.png);
display: flex;
align-items: center;
justify-items: center;
justify-content: center;
margin-right: 30px;
background-size: cover;
color: rgba(0, 0, 0, 0.25);
}



.notificacao a {
width: 51px;
height: 52px;
background-image: url(img/IconNotificacao.png);
border-radius: 18px;
background-color: rgba(0, 0, 0, 0.25);
display: flex;
align-items: center;
justify-items: center;
justify-content: center;
margin-left: -15px;
}

header .baixo {
font-family: "regular";
display: flex;
flex-direction: row;
display: flex;
justify-content: center;
}

.baixo a{
color: white;
margin: 55px;
font-size: 15px;
margin-top: 25px;
text-decoration: none;
font-weight: 605;
font-family: "regular";
letter-spacing: 2px;
transition: ease-in-out 0.3s;
}

a:hover {
font-size: 18px;
width: 60px;
height: 60px;
}


